@import './antd.css';

.floatingBox{
  position:fixed;
  top:18px;
  right:40px;
  z-index: 9;
  padding:0 5px;
}

.FL > div{
  float:left;
}

.FL::after{
  display:block;
  overflow: hidden;
  clear:both;
  content: "";
}

.floatingBox > div{
  margin:0 5px;
}

.topBar{
  position:fixed;
  top:0;
  width:100%;
  z-index: 8;
}

.sideBar{
  position:fixed;
  height:100%;
  left:0;
  z-index: 7;
}

.body{
  margin-top:64px
}

.content{
  margin-left: 200px;

}
